@import "global";

.SecondExample {
	width: 1000px;

	.Project {
		position: relative;
		height: 600px;
		overflow: hidden;
		padding: 170px;

		.CheckButton {
			margin: 20px;

			//color: black;

			font-size: $header-font-size;
			border: 3px solid black;
			text-transform: capitalize;

			// transition: 200ms;
		}
	}
}
